tilesWrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #8FB996;
    background-color: #1E3322;
    padding: 10px 10px 10px 10px;
}

.gameArea {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    height: 100%;
    min-height: 300px;
    max-height: 480px;
}

.tile {
    border: 1px solid #8FB996;
    border-radius: 5%;
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: default;
    line-height: 70px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
    font-family: "Lora";
    font-size: 24px;
    color: #8FB996;
    font-weight: 600;
    width: 70px;
    height: 70px;
}

.row {
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
}