.helpSpan {
    font-family: "Lora";
    font-size: 16px;
    color: #8FB996;
    font-weight: 400;
    cursor: default;
}

.headerLookAlike {
    font-family: "Lora";
    font-weight: 600;
    font-size: 20px;
    color: #8FB996;
}

.textBlock {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.exampleRow {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text {
    font-family: "Lora";
    font-weight: 600;
    font-size: 20px;
    color: #8FB996;
}