.key {
    border: 1px solid #8FB996;
    background-color: #0F1A11;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    line-height: 40px;
    user-select: none;
    text-transform: uppercase;
    margin: 0 5px 0 0;
    font-family: "Lora";
    font-size: 24px;
    color: #8FB996;
    font-weight: 600;
    width: 33.4px;
    height: 40px;
}

.key:hover {
    background-color: #1E3322;
}

.key:active {
    font-size: 30px;
}