.key {
  border: 1px solid #8fb996;
  background-color: #0f1a11;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  line-height: 40px;
  user-select: none;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  font-family: "Lora";
  font-size: 24px;
  color: #8fb996;
  font-weight: 600;
  width: 33.4px;
  height: 40px;
}

.almostKey {
  color: #1e3322;
  background-color: #8fb996;
  border: 1px solid #1e3322;
}

.rightKey {
  background-color: #1e3322;
}

.key:hover {
  box-shadow: 0 0 6px 0px #8fb996;
}

.key:active {
  font-size: 30px;
}

.keyEnter {
  border: 1px solid #8fb996;
  background-color: #0f1a11;
  border-radius: 5%;
  display: flex;
  flex: 1;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  font-family: "Lora";
  font-size: 24px;
  color: #8fb996;
  font-weight: 600;
  width: 115px;
}

.keyEnter:hover {
  background-color: #1e3322;
  box-shadow: 0 0 8px 0px #8fb996;
}

.keyEnter:active {
  font-size: 30px;
}
